.tag {
  background-color: #f4622f;
  color: white;
  display: block;
  display: flex;
  width: 361px;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
}
